.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/authBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.flex {
  flex: 1;
}

.login {
  padding: 5em 4em 5em 4em;
  margin-right: 2em;
}
